<div class="add-business-wrapper">
	<form action="/addCategory" class="yform" id="category-add-form" method="POST">
		        	<div>
			        	<p class="title-p">
			        	Category name        	
			        	</p></br>
			        	<input type="text" name="Cname" placeholder="Ex: Restaurants" id="cname">
			        	
		        	</div>
		        	<div class="submit-div">
			        	   		<input type="submit" value="Add category" class="ybtn ybtn-primary" >
		        	   
			         </div>
		        </form>
		        
</div>	        