<div class="add-business-wrapper">
	<form action="/editCategory" class="yform" id="category-edit-form" method="POST">
		        	<div>
			        	<p class="title-p">
			        	Category name        	
			        	</p></br>
			        	<input type="text" name="Cname" value="<%=name%>">
			        	<input type="hidden" name="Cid" value="<%=id%>">
		        	</div>
		        	<div class="submit-div">
			        	   		<input type="submit" value="Save" class="ybtn ybtn-primary" >
		        	   
			         </div>
		        </form>
		        
</div>	       